.profile {
    margin-top: 70px;
}


.profile__col {
    border-radius: 8px;
    border: 0.1px solid #318161
}

@media (max-width: 768px) {
    .profile img {
        object-fit: cover;
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 992px) {
    .profile img {
        object-fit: cover;
        height: 75px;
        width: 75px;
    }
}

@media (min-width: 992px) {
    .profile img {
        object-fit: cover;
        height: 100px;
        width: 100px;
    }
}