/* #dropdown-autoclose-inside{

    width: 100%;
    background-color: white;
    border: none;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.navbar {
    background: rgba(51, 169, 141, 0.9);
}

.navbar__logo {
    font-family: 'Poppins', sans-serif;
    color: #435151 !important;
}

.navbar__avatar {
    margin-left: 2px;
    width: 25px
}

.navbar a {
    text-decoration: none;
}